<style>

            body {
                background: #222222;
                color: aliceblue;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
            }

            h1 {
                color: #b0fe81;
                ;
                font-size: 115px;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
            }     

            h2 {
                font-size: 40px;
            }

        </style>
